<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lyst It</title>
  <link href='//fonts.googleapis.com/css?family=Bubbler One' rel='stylesheet'>
  <style> 
      .center {
        text-align: center;
        margin: auto;
      }
    body 
    { background-image: url("https://ih1.redbubble.net/image.180758588.8048/flat,1000x1000,075,f.u1.jpg")}
    table {
      border: 1px solid black;
      width: 100%
    }  
  </style> 
  <h1 class = "center"> Lyst It </h1> 
 
     
</head>
<body> 
  
  <table border>
    <tr>
      <th> Number </th>
      <th> Checked </th> 
      <th> Assignments  </th>
      <th> Due date </th>
    </tr>
    <tr>
      <td> One <td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Two <td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Three <td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Four <td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Five <td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Six <td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Seven <td>
      <td></td>
      <td></td>
    </tr>
  </table>
    

</body>