<ul> 
    <h2> Chores</h2>
    <li> 
        <input type="checkbox"></input>
        <span> "Check with Mom for chores"</span>
        <strong> "1 pomodoros"</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span> Mop House </span>
        <strong> 2 Pomodoros</strong>
    </li>
    <li> 
        <input type="checkbox"></input>
        <span>Babysit The Things</span>
        <strong>5 pomodoros</strong>
    </li>
</ul>